/*
* {
  border: 3px solid black;
}
*/
.logo {
  height:90px;
  width:260px;
  background-image: url("googlelogo.png");
  background-repeat:no-repeat;
  top:200px;
  position:relative;
  background-size:260px 90px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}
.israel {
  height:30px;
  width:45px;
  position:relative;
  top:71px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  left:100px;
  font: 16px;
  font-family: arial;
  
}
.input {
 width:300px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  top: 80px;
}
.inputstyle {
  font-size:20px;
  width:550px;
  position:relative;
  padding:8px;
  margin: auto;
  right:150px;
  box-shadow: 0 8px 6px -6px grey;
}
  
.nave {
  list-style-type:none;
  top:10px;
  position:absolute;
 
  
}
li {
   padding:6px;
   display:inline;
   text:none;
}
a:link {
  text-decoration:none;
  color:black;
  font-family:arial;
 font-size:13px;
}
#enter {
  color:yellow;
  background-color:	#3B88EB;
  padding:7px 12px ;
  border-radius:3px;
}